.rebar
*.swp
*.beam
*.dump
ebin/*
deps/*/ebin/*
rel/pusher*
log
*@nohost
.DS_Store
.eunit
rel/game_server
db/config_data.sql

app/models/config_*
include/db_config.hrl
include/db_schema.hrl
include/db_table_names.hrl
Mnesia.*

callgrind.out.*
*.trace
game_log.sql*

.idea
mnesia_backup.log
dets_files
MnesiaCore.nonode*
configMineMap.dets
